body{
    background-color: #9dd5d0;
}
h1{
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
.teatimelogo{
    max-width: 100px;
}

.carousel-item{
    max-width: 1000px;
}
.container-fluid{
    padding: 2% 13%;
}
.nav-item{
    font-size: 1rem;
    padding-right: 20px;
}
.navbar-nav{
    padding: 10px;
}
.mydiv{
    padding-top: 200px;
    padding-bottom: 240px;
    z-index: 1;
    position:relative;
    text-align: center;
    color:black;
}

.top-bg{
    background-image: url("bubbleteabanner.jpg");
    background-color: #cccc;
    background-size: 100%;
   
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
}

.mydiv h1{
    color: black;
    text-align: center;
    font-family: serif;
    font-size: 10rem;
}

#cta{
    background-color: #fbd8aa;
    padding: 5% 30%;
}

#footer{
    background-color: #9dd5d0;
    padding: 5% 30%;
}
@media screen and (max-width: 900px){
    .teatimelogo{
        max-width:10px;
    }
}