body{
    background-color: #9dd5d0;
}
h1{
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}
.teatimelogo{
    max-width: 180px;
}

.carousel-item{
    max-width: 1000px;
}
.container-fluid{
    padding: 2% 13%;
}
.nav-item{
    font-size: 2.5rem;
    padding-right: 20px;
}
.navbar-nav{
    padding-left: 5px;
}
.top-description{
    padding-top: 200px;

}

#cta{
    background-color: #fbd8aa;
    padding: 5% 30%;
}

#footer{
    background-color: #9dd5d0;
    padding: 5% 30%;
}

@media (max-width: 900px){
    .teatimelogo{
        max-width:10px;
    }
}